.navbar-default .navbar-nav > li > a{
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    cursor: pointer;
    text-decoration: none;
    color: #216a94;
    background: none;
}
.load_container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    display: none;
    align-items: center;

    background-color: #ffffffb3;
}

.loader {
    margin: auto;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-inline{
    margin: 0 0 11px;
}
.form-inline .form-group{
    margin: 10px 0;
}

a:hover,
a:focus,
.btn-link:hover, .btn-link:focus{
    text-decoration: none;
    color: #216a94;
}
.buttons-goup{
    padding-right: 19px;
}
#go-top{
    position: fixed;
    right: 9px;
    bottom: 50px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid;
    font-weight: 700;
}
.form-title{
    margin-top: 0;
}

.pointer:hover{
    cursor: pointer;
}

.spoiler-trigger .fa-sort-desc{
    vertical-align: text-top;
}
.spoiler-trigger .fa-sort-asc{
    vertical-align: sub;
}
#app-container .form-group label,
#search_employee .form-group label{
    line-height: 36px;
}
.buttons-goup .col-sm-3{
    padding: 0 9px;
}
.info-text{
    padding: 20px;
    font-size: 20px;
}
.search-field{
    position: relative;
}
.search-field .search_data{
    position: absolute;
    background: #fff;
    z-index: 100;
    width: 360px;
    border: 1px solid #98cbe8;
    border-top: none;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(152, 203, 232, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(152, 203, 232, 0.6);
}
.search-field .search_data p{
    padding: 6px 12px;
    margin: 0;
}
.search-field .search_data p:hover{
    cursor: pointer;
    background: #bfe1f5;
}
.alert-in-panel{
    margin-top: -12px;
    border-radius: 0;
}
.delete_form{
    display: inline-block;
}
button.del-row.fa{
    border: none;
    background: none;
    color: #3097D1;
    padding: 0;
}
button.del-row.fa:hover{
    color: #216a94;
}
#image_show{
    max-width: 200px;
    max-height: 200px;
    height: auto;
}
table td img{
    width: 35px;
}